*.zip
bin/
data/
out/
obj/
two-level.trace/
grid.trace/
lib/*
build/
lib/
.vscode
benchmarks/*.json
progress*
bib
*png
*.out
*.pkl
*.so
*tmp*
plots/
plots
failure_prob
*.json
*results
*.json
*.img
*.qcow2
*.raw
meta-data
*.log
target/
Cargo.lock
hash_map.bin*
hash_time.bin*